$text-color-dark: #263238;
$text-color-light: #ffffff;

$font-main: 'museosans';
$font-size-header: 14px;
$font-size-text: 12px;

$shadow-dark: 0px 0px 5px rgba(0, 0, 0, 0.30);
$shadow-light: 0px 0px 5px rgba(0, 0, 0, 0.12);

$menu-background: #eceff1;
$menu-width: 256px;
$submenu-title-height: 48px;
$submenu-title-background: #cfd8dc;

// $input-text-invalid: #bf0000;
$canvas-background: #eceff1;
