$menu-background: #ECEFF1;
$menu-text: #263238;
$submenu-background: #CFD8DC;
$submenu-background-hover: #CFD8DC;
$submenu-title: #263238;
$button-background: #CFD8DC;
$button-text: #263238;
$button-yellow: #FFD54F;
$button-green: #81C784;
$button-red: #E57373;
$button-blue: #64B5F6;
$input-background: #263238;
$input-text-invalid: #bf0000;
$workspace-background: #ECEFF1;
$grid-color: #B0BEC5;

$font-main: 'museosans';