/* html and body */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;

  /* Prevent selecting stuff */
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Regions */
#container {
  display: flex;
  height: 100%;
}

#menu {
  width: 256px;
  height: 100%;
}

#workspace {
  flex-grow: 1;
  height: 100%;
  background-color: var(--workspace-background);
}

#workspace canvas {
  width: 100%;
  height: 100%;
}
