#menu {
  background-color: var(--menu-background);
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.24);
  z-index: 1;
}

/* Submenus */
.submenu {
  width: 100%;
}

.submenu-title {
  height: 48px;
  line-height: 48px;
  text-align: left;
  padding-left: 16px;
  cursor: pointer;
  background-color: var(--submenu-background);
  color: var(--submenu-title);
}

.submenu.closed .submenu-title {
  color: var(--submenu-title-closed);
}

.submenu-title:hover {
  background-color: var(--submenu-background-hover);
}

.submenu-content {
  padding: 4px 8px 4px 8px;
}

.submenu.closed .submenu-content {
  display: none;
}


/* Submenu content */
.input-property-value-wrapper {
  padding: 4px 0px 4px 0px;
  display: flex;
}

.input-property-value-wrapper .property {
  line-height: 24px;
  font-size: 12px;
  width: 96px;
  padding-right: 8px;
  color: var(--menu-text);
}

.input-property-value-wrapper .value {
  flex-grow: 1;
}

.input-property-value-wrapper .value .button {
  height: 24px;
  line-height: 24px;
}

.menu-text {
  width: 100%;
  text-align: center;
  color: var(--menu-text);
  font-size: 12px;
  line-height: 24px;
  height: 24px;
}

/* Submenu settings */
#button-theme-light {
  background-color: #CFD8DC;
  color: #263238;
}

#button-theme-dark {
  background-color: #0c0e11;
  color: #d4d6d5;
}

/* Submenu textures */
#input-texture {
  width: 100%;
}

.input-text-wrapper {
  padding: 4px 0px 4px 0px;
  text-align: center;
}

.selected-texture-wrapper {
  overflow: scroll;
  margin: 4px 0px 4px 0px;
}

/* Submenu save and load */
#save-button {
  background-color: var(--button-blue);
}

#load-button {
  background-color: var(--button-yellow);
}

/* General classes */
input.invalid {
  color: var(--input-text-invalid);
}

input.hidden {
  display: none;
}

.button {
  display: block;
  background-color: var(--button-background);
  color: var(--button-text);
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
  font-size: 12px;
}

.button:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.30);
}

.button-red {
  background-color: var(--button-red);
}

.button-green {
  background-color: var(--button-green);
}

.button-line {
  padding: 4px 0px 4px 0px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-left: -4px;
  margin-right: -4px;
}

.button-row .button {
  flex-grow: 1;
  height: 48px;
  line-height: 48px;
  margin: 0px 4px 0px 4px;
}

/* Help button */
#help-button {
  position: fixed;
  right: 8px;
  bottom: 8px;
  width: 32px;
  height: 32px;
  background-image: var(--help-icon);
  cursor: pointer;
  opacity: 0.25;
  z-index: 1;
}

#help-button:hover {
  opacity: 0.75;
}

#help-menu {
  position: fixed;
  right: -256px;
  top: 0px;
  height: 100%;
  width: 256px;
  background-color: var(--menu-background);
  color: var(--menu-text);
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.24);
  z-index: 1;
}
