/* General defaults */
* {
  font-family: museosans;
  padding: 0px;
  margin: 0px;
}

*:focus {
  outline: none;
}

/* Input fields */
input {
  line-height: 24px;
  height: 24px;
  border: 0;
  text-align: center;
  width: 100%;
  font-size: 12px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
}

input:focus {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.30);
}
