:root {
  --menu-background: #13171a;
  --menu-text: #d4d6d5;
  --submenu-background: #2b3033;
  --submenu-background-hover: #2b3033;
  --submenu-title: #d4d6d5;
  --submenu-title-closed: #999f9c;
  --button-background: #2b3033;
  --button-text: #d4d6d5;
  --button-yellow: #97981f;
  --button-green: #76902c;
  --button-red: #902c2c;
  --button-blue: #6998bb;
  --input-background: #d4d6d5;
  --input-text-invalid: #bf0000;
  --workspace-background: #0c0e11;
  --grid-color: #1f242b;
  --help-icon: url('../img/help_dark.png');
}
